<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new</title>
</head>
<body>
    <form action="/chats" method="POST">
       From: <input type="text" name="from" placeholder="Your name"><br>
        To:    <input type="text" name="to" placeholder="Message to"> <br>
        Message: <br><textarea name="msg" rows="10px" placeholder="Write some message here..." cols="30px"></textarea>
        <button>Submit</button>
    </form>
</body>
</html>