body{
    margin-left: 20px;
    background-color: blueviolet;
}
.chat{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}
.msg{
    background-color: dodgerblue;
    color: white;
    padding: 10px 15px;
    border-radius: 16px;
}
button{
    border-radius: 16px;
    padding: 10px;
    background: dodgerblue;
    color: whitesmoke;
    /* display: inline; */

}
form{
    display: inline-block;
    
}

.edit{
    border-radius: 6px;
    padding: 1px 10px 1px 10px;
    background: dodgerblue;
    color: whitesmoke;
}
.delete{
    border-radius: 6px;
    padding: 1px 10px 1px 10px;
    background: dodgerblue;
    color: whitesmoke;
    margin-left: 8vmin;
}